::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    color: white;
    background: rgb(0 0 0 / 50%);
    border-radius: 5px;
}

.content {
    display: flex;
    min-height: 0;
    flex-direction: column;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
}


.sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    height: 100%;
}

.sidebar.is-visible~.content {
    flex-basis: 0;
    overflow: hidden;
}